body{
    background: #d4e7f4;
    font-family: 'Lucida Grande';
}

p {
    color: rgb(255, 0, 0);
    font-size: 32pt;
}

.h{
    color: greenyellow;
    padding: center;
}

h1, h2 {
    color: black;
    font-family: Roboto;
    font-size: 32px;
    text-align: center;
}

table {
    width: 100%;
} 

thead {
    text-align: left;
}

tbody {
    text-align: left;
}

body, ul {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #333;
}

.navbar {
    background-color: #333;
}


.navbar ul {
    list-style-type: none; 
    display: flex; 
}

.navbar li {
    padding: 10px;
    text-align: center;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px; 
    transition: background-color 0.3s; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    left: 0;
    top: 100%;
    width: 200px; 
}

.dropdown-content li {
    text-align: center;
    padding: 10px;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .dropdown .dropdown-content {
    display: none;
}

.navbar a:hover {
    background-color: #555; 
}