@import url('https://fonts.googleapis.com/css?family=Alice:300,400,600,700&&display=swap');

:root {
    --time-color: blue;
    --dist-color: orange;
    --default-color: rgba(0, 0, 0, 0);
}

body {
    background: #c1e6ff;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    /* padding: 100px; */
}

.signupqs {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px
}

.border-table {
    border: 1px solid black;
    border-collapse: collapse;
    padding-bottom: 100px;
}

.border-table th {
    border: 2px solid black;
    border-collapse: collapse;
}

.border-table td {
    border: 2px solid black;
    border-collapse: collapse;
}

.border-table {
    width: 90%;
    font-size: 17px;
}

.login,
.signup {
    background-image: url("images/home_login_screen.jpg");
    background-repeat: no-repeat;
    background-size: 110%, 110%;
}

body {
    font-family: 'Lucida Grande';
}

h1, h2 {
    color: black;
    font-family: 'Roboto';
    font-size: 32px;
}

.table-align {
    padding-left: 6%;
}

table thead tr th {
    text-align: left;
}

h3 {
    text-align: center;
}

table {
    width: 90%;
}

.no-border {
    border: none;
}

thead {
    text-align: left;
}

tbody {
    text-align: left;
}

body,
ul {
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: #333;
}

body {
    padding-top: 100px;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 1001;
    width: calc(100% + 1px);

}


.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar li {
    padding: 10px;
    text-align: center;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-size: 14pt;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    left: -90%;
    top: 100%;
    width: 200px;
}

.dropdown-content li {
    text-align: left;
    padding: 10px;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .dropdown .dropdown-content {
    display: none;
}

.navbar a:hover .dropdown-content:hover {
    background-color: #555;
}

.right:last-child {
    display: inline;
    position: fixed;
    right: 0;
}

.right.startright {
    position: static;
    padding-left: calc(100vw - 1000px);
}

.signin {
    width: 300px;
    height: 40%;
    border: 1px solid white;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    padding-bottom: 100%;
    background-color: rgb(0,0,0,0.5);
    color: white;
}

.noaccount:hover, .noaccount:visited, .noaccount:link, .noaccount:active {
    text-decoration: none;
    color: lightblue;
}


.signin-container {
    margin-left: auto;
    margin-right: 55%;
    width: 8em;
    padding-top: 10%;
}

.login-title {
    text-align: center;
    color: white;
}
#username, #password-reentry, #password-signup {
    width: 100%;
    height: 30px;
}

#password {
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    height: 30px;
    align-items: left;
}

#signup-bt, #login-bt {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 10px;
    height: 13%;
    width: 100%
}

p {
    font-size: 10pt
}

#toggle-password {
    width: 20px
}

.dashboard-container {
    display: flex;
    margin: 50px;
}

.recent-activity {
    flex: 1;
    padding-bottom: 250px;
    background-color: #fffefecd;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.estimated-calories,
.macros {
    flex: 1;
    padding-bottom: 50px;
    background-color: #fffefecd;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    margin-bottom: 15px;
}

.macros {
    margin-bottom: 0 !important
}

.training-calendar,
.last-month {
    flex: 1;
    padding-bottom: 20px;
    margin-bottom: 15px;
    background-color: #fffefecd;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.nutrition-box-container,
.training-box-container {
    flex: 1;
}

.nonlink {
    text-decoration: none;
    color: rgb(0, 0, 202);
}

table {
    margin: auto;
    width: 90%;
    padding: 10px;
}

th {
    text-align: center;
    font-size: 16px;
}

input#password {
    appearance: none;
    border: none;
}

input#username {
    color: grey;
}

.profile {
    border-radius: 50%;
}

.input-box {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 1.5px;
    background-color: white;
}

#signup-bt, #login-bt {
    transition-duration: 100ms;
}

#signup-bt:hover, #login-bt:hover {
    background-color: #2377ed;
}

.input-box:has(input:active) {
    border: 1px solid rgb(255, 255, 255);
}

#inline_label {
    font-weight: bold;
}

.NA {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
}

#calendar {
    font-family: monospace;
    text-align: center;
    border: #c1e6ff;
}

#calendar thead * {
    border: none;
}

#calendar>thead>tr>td {
    padding-left: 12px;
}

#calendar tbody tr td {
    border: none;
}

.tittle {
    text-align: center;
}

a {
    cursor: pointer;
}

.colour-gradient {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 10px;
    border: 2px solid black;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0))
}

.progress-bar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    background:
        radial-gradient(closest-side, lightgray 69%, transparent 70% 100%),
        conic-gradient(var(--time-color) var(--time), var(--default-color) var(--time), var(--default-color) calc(100% - var(--dist)), var(--dist-color) 0%);
}

.progress-bar div {
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: all;
    height: 0;
    position: relative;
    width: min-content;
    padding: 3px;
}

.progress-bar:hover div {
    opacity: 80%;
    transition-duration: 0.2s;
    transition-property: all;
    height: min-content;
    background-color: black;
    color: white
}

.progress-bar span {
    padding-left: 7px;
}

.progress-bar:hover span {
    display: none;
}

:has(.nav-container .navbar) {
    padding-top: 75px;
}

.macros {
    text-align: center;
}

.macros img {
    min-width: 80%;
}

/*Required CSS*/
svg.radial-progress {
    height: auto;
    max-width: 240px;
    padding: 0;
    transform: rotate(-90deg);
    width: 100%;
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    border-radius: 50%;
    font-size: 1px
}

section.svg-container svg.radial-progress:nth-child(even) {
    margin: 0 15px;
}

svg.radial-progress circle {
    fill: transparent;
    stroke: #fff;
}

svg.radial-progress circle.bar-static {
    stroke: #fafafa !important;
}

svg.radial-progress circle.bar--animated {
    stroke-dasharray: 219.91148575129;
    stroke: #ffffff;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 4px;
    stroke-linecap: round;
}

svg.radial-progress text {
    fill: #fafafa;
    font-family: Roboto;
    font-size: 8em;
    text-align: center;
    font-weight: 700;
    text-anchor: middle;
    text-shadow: 0 0 5px #0000007a;
}

radial-progress-container {
    text-align: center;
    margin: 0;
    flex-wrap: wrap;
    font-family: 'Alice', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ff057c'/%3E%3Cstop offset='1' stop-color='%23321575'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='7.26'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.4200000000000004' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.2'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='4.840000000000001' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: bottom;
    background-size: cover;
    padding: 0;
}

section.svg-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section.svg-container:nth-last-of-type(1) svg.radial-progress {
    background: linear-gradient(260deg, #0062ff, #00e5ff);
}

section.svg-container:nth-last-of-type(0) svg.radial-progress {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

.signupqs input {
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.signupqs select {
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.signupqs input[type="submit"] {
    background-color: #14bbee;
    color: black;
    cursor: pointer;
    width: 50%;
    display: block;
    padding: 10px;
    margin: 20px auto;
}

.signupqs input[type="submit"]:hover {
    background-color: #2377ed;
}

.label-text {
    font-size: 12px;
}

.cookie-consent-banner_inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 0;
}

.cookie-consent-banner_copy {
    margin-bottom: 16px;
    background-color: white;
    border-radius: 10px;;
}

.cookie-consent-banner {
    background-color: white;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    /* z-index: 100; */
}

.cookie-consent-banner_header {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.cookie-consent-banner_description {
    font-weight: normal;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

.cookie-consent-banner_cta {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;
    border-radius: 2px;
    background-color: rgb(3, 255, 3);
    color: rgb(1, 0, 0);
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid black;
}

.cookie-consent-banner_cta--secondary {
    padding: 9px 13px;

    border: 2px solid #000000;

    background-color: transparent;

    color: #02171d;
}

.cookie-consent-banner_cta:hover {
    background-color: #0ade6d;
}


.cookie-consent-banner_cta:last-child {
    margin-left: 16px;
}

.logexercise input,
.logexercise select,
.logexercise textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.logexercise table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

.logexercise th,
.logexercise td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.logexercise th {
    background-color: #f2f2f2;
}

#add-to-table, #delete-row, #edit-qs {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#add-to-table:hover, #delete-row:hover, #edit-qs:hover{
    background-color: #0073a8;
}

.logexercise input[type="submit"] {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.logexercise input[type="submit"]:hover {
    background-color: #0073a8;
}

.logexercise label {
    margin-right: 5px;
    /* Adjust the margin as needed for spacing */
}

.duration input[type="number"] {
    display: inline;
    width: 60px;
    /* Adjust the width as needed */
}

.reps-sets {
    display: flex;
    align-items: center;
}

.add-to-table {
    margin-right: 100px;
    /* Adjust the margin as needed for spacing */
}

.logexercise th {
    font-weight: 100;
}

.food_log_container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-group input,
.input-group select {
    flex-basis: calc(48% - 10px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.food_log_container input[type="submit"] {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.food_log_container input[type="submit"]:hover {
    background-color: #0073a8;
}


.food_log_container .border-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.food_log_container th,
.food_log_container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.food_log_container th {
    background-color: #f2f2f2;
}

.NA {
    text-align: center;
    font-style: italic;
    color: #999;
    margin: 10px 0;
}

.food_log_container input,
.food_log_container select {
    padding: 8px;
    font-size: 16px;
}

.required h4 {
    color: red;
}

#calorie-percent {
    text-align: center;
}

.box {
    height: 15px;
    width: 15px;
    /* margin-bottom: 15px; */
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .orange {
    background-color: orange;
  }

  .blue {
    background-color: blue;
  }

.info-table {
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

.info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.info-table th {
    background-color: #333;
    color: #fff;
}

.activity-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.individual-activity-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.individual-activity-table, .individual-activity-table th, .individual-activity-table td {
    border: 1px solid #ddd;
}

.individual-activity-table th, .individual-activity-table td {
    padding: 12px;
    text-align: left;
}

.individual-activity-table th {
    background-color: #333;
    color: #fff;
}

.activity-details button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
}

.activity-details button:hover {
    background-color: #555;
}

.nonlink:hover {
    text-decoration: underline;
}

.profile {
    border-radius: 50%;
}

.user-profile {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

.user-profile td {
    border: 1px solid #ddd; 
    padding: 12px;
}

.user-profile td:first-child {
    font-weight: bold;
}

#edit-qs a{
    text-decoration: none;
    color: white;
}

.wid {
    margin: 8px;
    padding-left: 12px;
    width: 50px;
    overflow-x: visible;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.my-program a{
    text-decoration: none;
    color: black;
}